body {
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
    background: #c5e0dc;
    font-size: 16px;
}

.App {
    text-align: center;
    font-size: 1.5rem;
}

.story {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    margin: 10px 0;
    padding: 10px;
}

.storyWord {
    padding: 5px;
    border-radius: 5%;
    font-size: 1.5rem;
    background: #f1d4af;
    margin: 0.2rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

button,
input {
    font-size: 1.2rem;
    padding: 5px;
}